# CAP CAPfleetmanager
_out
*.db
*.sqlite
connection.properties
default-*.json
.cdsrc-private.json
gen/
node_modules/
target/
resources/


# Web IDE, App Studio
.che/
.gen/
app/fleetmanager/dist/

# MTA
*_mta_build_tmp
*.mtar
mta_archives/

# Other
.DS_Store
*.orig
*.log

*.iml
*.flattened-pom.xml

# IDEs
# .vscode
# .idea

# auto generated wildcard
db/.env